header {
    padding: 1rem 0;
    background: #070a0e;
    min-height: 80px;
}

header.dark-2 {
    background-color: #141e27;
}

header .brand {
    /* background-image: url(/images/compound-logo.svg); */
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    width: 127px;
    height: 27px;
}

header .text-center a {
    margin: 0 0.665rem;
    color: #ffffff;
    letter-spacing: 1px;
}

header .text-center a.active {
    color: #ffc107;
    padding: 0.3rem 0;
    border-bottom: 1px solid #ffc107;
    transition: padding 0.2s ease;
}

header .text-center a:hover {
    color: #ffc107;
    text-decoration: none;
    padding-bottom: 0.5rem;
}

header .text-right .button {
    padding: 1rem 1.6rem;
}

header .hamburger {
    display: none;
    position: relative;
    z-index: 25;
    user-select: none;
}

header .hamburger span {
    display: block;
    margin-left: auto;
    width: 20px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

header .hamburger.active span {
    opacity: 1;
    transform: rotate(45deg) translate(0, 2px);
}

header .hamburger.active span:nth-child(2) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

header .hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(1px, -5px);
}

header .votx-balance {
    background: #141e27;
    border-radius: 3px;
    padding: 0.43rem 0.665rem;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 600;
    text-transform: none;
}

header .votx-balance img {
    margin-left: 0.25rem;
}

header #account {
    background: #141e27;
    border-radius: 10px;
    padding: 0.3rem;
    margin-left: 0.00rem;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 600;

    text-transform: none;
}

header #account .icon {
    flex-shrink: 0;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 12px;
    height: 12px;
    min-width: 0;
    min-height: 0;
    margin-right: 0.665rem;
}

header #select-currency {
    padding-right: 0.25rem;
}

header.light {
    background: #ffffff;
}

header.light .text-center a {
    color: #141e27;
}

header.light .text-center a.active {
    color: #ffc107;
    padding: 0.3rem 0;
    border-bottom: 1px solid #ffc107;
    transition: padding 0.2s ease;
}

header.light .text-center a:hover {
    color: #ffc107;
    text-decoration: none;
    padding-bottom: 0.5rem;
}

header.light .hamburger span {
    background-color: #070a0e;
}

header.light #account {
    background: #f9fafb;
    color: #141e27;
}

header.light #account:hover {
    color: #ffc107;
}

header.light #account.active {
    border-bottom: 2px solid #ffc107;
}

header .mobile-header {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0 auto;
    padding-top: 7.98rem;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 20;
    overflow: scroll;
    opacity: 0;
    background-color: #070a0e;
    -webkit-font-smoothing: antialiased;
    transform: translate3d(0, -100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.3s ease-in;
}

header .mobile-header.active {
    transform: none;
    opacity: 1;
}

header .mobile-header.light {
    background-color: #ffffff;
}

header .mobile-header.light li {
    color: #141e27;
    background-color: #ffffff;
}

header .mobile-header.dark-2 {
    background-color: #141e27;
}

header .mobile-header .links {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .mobile-header ul {
    list-style-type: none;
    width: 100%;
    padding-left: 0px;
    background-color: transparent;
    margin-bottom: 0;
}

header .mobile-header li {
    display: flex;
    background-color: transparent;
    width: 100%;
    padding-top: 22px;
    padding-bottom: 22px;
    color: #ffffff;
}

header .mobile-header li p {
    margin: 0 auto;
}

header .mobile-header .dapp {
    margin-bottom: 55px;
    margin-left: 42px;
    margin-right: 42px;
    padding-top: 23px !important;
    padding-bottom: 23px !important;
}

@media (max-width: 40em) {
    header.landing .hamburger {
        display: block;
    }
}

header.landing .logo {
    z-index: 25;
}

header.landing .links a {
    text-transform: none;
    letter-spacing: 0;
    font-size: 14px;
}

header.landing .dapp {
    
    border-color: #564f4f;
    
}

header.landing .dapp a {
    color: #f0f0f0;
    border-color: #564f4f;
    transition: background-color 0.2s ease-in, color 0.2s ease-in;
    text-transform: none;
    letter-spacing: 0;
    font-size: 14px;
    border-radius:14px;
}

header.landing .dapp:hover {
    background-color: #383632;
    color: #ffffff;
    border-color: #383632;
}

header.dapp #connect-wallet {
    border-radius: 3px;
    margin-left: 1.33rem;
    padding: 0.665rem;
    color: #383632;
    border-color: #383632;
    transition: background-color 0.2s ease-in, color 0.2s ease-in;
    text-transform: none;
}

header.dapp #connect-wallet:hover {
    background-color: #383632;
    color: #ffffff;
    border-color: #383632;
}

header.dapp .links a {
    text-transform: none;
    letter-spacing: 0;
    font-size: 14px;
}

header.dapp .links a.active {
    color: #383632;
    padding: 0.3rem 0;
    border-bottom: 1px solid #383632;
    transition: padding 0.2s ease;
}

header.dapp .links a:hover {
    color: #383632;
    text-decoration: none;
    padding-bottom: 0.5rem;
}

header.dapp .actions {
    display: none;
    align-items: center;
    justify-content: flex-end;
    min-height: 3rem;
}

header.dapp .actions>* {
    user-select: none;
    color: #cfd8dc;
}

@media (min-width: 40em) {
    header.dapp .actions {
        display: flex;
    }
}

header.dapp .mobile-links {
    display: flex;
    justify-content: flex-end;
}

header.dapp .mobile-links__link {
    border-radius: 3px;
    padding: 0.9975rem !important;
    color: #383632;
    border-color: #383632;
    text-transform: none;
}

@media (min-width: 40em) {
    header.dapp .mobile-links {
        display: none;
    }
}

.container-large {
    position: relative;
    max-width: 82em;
}

@media (max-width: 40em) {
    .mobile-hide {
        display: none;
    }
    .mobile-only {
        display: block;
    }
    .mobile-only.logo {
        display: block;
    }
    .container-large {
        padding-right: 0.88667rem;
        padding-left: 0.88667rem;
    }
    .container {
        padding-right: 0.88667rem;
        padding-left: 0.88667rem;
    }
    .container-small {
        padding-right: 0.88667rem;
        padding-left: 0.88667rem;
    }
}

.row {
    display: flex;
    flex-flow: row wrap;
    margin-right: -0.665rem;
    margin-left: -0.665rem;
}

.row.align-middle {
    align-items: center;
}

.row.align-bottom {
    align-items: flex-end;
}

.row.align-stretch {
    align-items: stretch;
}

.row.align-left {
    justify-content: flex-start;
}

.row.align-center {
    justify-content: center;
}

.row.align-right {
    justify-content: flex-end;
}

.row.align-between {
    justify-content: space-between;
}

.row.reverse {
    flex-wrap: wrap-reverse;
}

header .votx-balance {
    background: #ffc107;
    border-radius: 10px;
    padding: 0.43rem 0.665rem;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 600;
    text-transform: none;
    color: black;
}

header .votx-wrap {
    background: #343a40;
    border-radius: 10px;
    padding: 0.43rem 0.665rem;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 600;
    text-transform: none;
    color: black;
}

header .votx-eth {
    background: #212529;
    border-radius: 10px;
    padding: 0.0rem 0.0rem;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 600;
    text-transform: none;
    color: #f0f0f0;
}