.container {
    position: relative;
    max-width: 66rem;
}

#Leaderboard section.hero {
    padding: 2.66rem 0 8.815rem;
    margin-bottom: -3.75rem;
}

.governance-panel {
    background: #141e27;
    box-shadow: 0px 2px 4px rgba(16, 21, 24, 0.05);
    border-radius: 4px;
    margin-bottom: 2rem;
}

.governance-panel__header {
    display: flex;
    flex-flow: inherit;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1rem;
    padding: 1rem 1.75rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.governance-panel__header h4 {
    margin: 0;
}

.governance-panel__labels {
    display: flex;
    padding: 1rem 1.75rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    align-items: center;
}

.governance-panel__labels>div:first-child {
    padding-left: 0;
}

.governance-panel__labels>div:last-child {
    padding-right: 0;
}

.governance-panel__footer {
    padding: 1.145rem 1.9375rem;
    border-bottom: none;
    border-radius: 0 0 4px 4px;
    display: flex;
    justify-content: center;
    color: #ffffff;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

.governance-panel__footer:hover {
    color: #ffc107;
}

.governance-panel__footer--disabled {
    color: #ccd6dd;
    user-select: none;
}

.governance-panel__footer--disabled:hover {
    color: #ccd6dd;
    cursor: initial;
}

.governance-panel__pager {
    padding: 2rem 1.9375rem;
    border-bottom: none;
    border-radius: 0 0 4px 4px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #050f19;
}

@media (min-width: 60em) {
    .governance-panel__pager {
        padding: 1.145rem 1.9375rem;
    }
}

.governance-panel__pager__previous {
    position: absolute;
    left: 1.75rem;
}

.governance-panel__pager__previous::before {
    border-style: solid;
    border-width: 2px 2px 0 0;
    content: '';
    display: inline-block;
    height: 8px;
    width: 8px;
    transform: rotate(-135deg);
    margin-right: 0.665rem;
}

.governance-panel__pager__previous label {
    text-transform: uppercase;
    color: #141e27;
    font-weight: 500;
    cursor: pointer;
}

.governance-panel__pager__previous:hover {
    color: #ffc107;
}

.governance-panel__pager__previous:hover label {
    color: #ffc107;
}

.governance-panel__pager__indicator {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.governance-panel__pager__indicator__text {
    color: #b8c2cc;
    padding: 0 0.5rem;
}

.governance-panel__pager__indicator__text--active {
    color: #141e27;
}

.governance-panel__pager__next {
    position: absolute;
    right: 1.75rem;
}

.governance-panel__pager__next::after {
    border-style: solid;
    border-width: 2px 2px 0 0;
    content: '';
    display: inline-block;
    height: 8px;
    width: 8px;
    transform: rotate(-135deg);
    transform: rotate(45deg);
    margin-left: 0.665rem;
}

.governance-panel__pager__next label {
    text-transform: uppercase;
    color: #141e27;
    font-weight: 500;
    cursor: pointer;
}

.governance-panel__pager__next:hover {
    color: #ffc107;
}

.governance-panel__pager__next:hover label {
    color: #ffc107;
}

.delegatee-summary__details__rank--loading, .delegatee-summary__details__display-name--loading, .delegatee-summary__details .gov-profile-image--loading, .delegatee-summary__votes-view__votes--loading, .delegatee-summary__vote-weight-view__vote-weight--loading, .delegatee-summary__proposals-created-view__proposals-created--loading {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: linear-gradient(to right, #f6f6f6 8%, #f0f0f0 18%, #f6f6f6 33%);
    background-size: 800px 104px;
}

.delegatee-summary {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding: 1.25rem 1.75rem;
    border-left: 2px solid transparent;
    padding-left: 1.625rem;
    text-transform: none;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0;
    transition: none;
    color: #ffffff;
}

.delegatee-summary:hover {
    border-left: 2px solid #ffc107;
    color: #ffffff;
    text-decoration: none;
}

.delegatee-summary:hover.delegatee-summary--loading {
    border-left: 2px solid transparent;
}

.delegatee-summary--empty {
    justify-content: center;
}

.delegatee-summary>div:first-child {
    padding-left: 0;
}

.delegatee-summary>div:last-child {
    padding-right: 0;
}

.delegatee-summary:nth-of-type(4n + 2) .delegatee-summary__details__display-name--loading {
    height: 1rem;
    width: 20.8125rem;
}

.delegatee-summary:nth-of-type(4n + 3) .delegatee-summary__details__display-name--loading {
    height: 1rem;
    width: 23.8125rem;
}

.delegatee-summary:nth-of-type(4n + 4) .delegatee-summary__details__display-name--loading {
    height: 1rem;
    width: 22.8125rem;
}

.delegatee-summary__details {
    display: flex;
    align-items: center;
}

.delegatee-summary__details__rank-view {
    flex-shrink: 0;
    width: 2rem;
    height: auto;
}

.delegatee-summary__details__rank {
    color: #141e27;
    font-weight: 800;
}

.delegatee-summary__details__rank--loading {
    display: inline-block;
    height: 0.75rem;
    width: 0.65625rem;
}

.delegatee-summary__details__display-name {
    font-size: 0.875rem;
    flex-shrink: 1;
}

@media (min-width: 60em) {
    .delegatee-summary__details__display-name {
        font-size: 1rem;
    }
}

.delegatee-summary__details__display-name--loading {
    height: 1rem;
    width: 24.8125rem;
}

@media (min-width: 60em) {
    .delegatee-summary__details__display-name--mobile {
        display: none;
    }
}

.delegatee-summary__details .gov-profile-image {
    display: inline-block;
    margin-top: -0.25rem;
    margin-right: 1.33rem;
}

.delegatee-summary__details .gov-profile-image--loading {
    background-image: none;
    border-radius: 50%;
}

.delegatee-summary__votes-view {
    display: flex;
    justify-content: flex-end;
}

.delegatee-summary__votes-view__votes--loading {
    height: 1rem;
    width: 35%;
}

.delegatee-summary__vote-weight-view {
    display: flex;
    justify-content: flex-end;
}

.delegatee-summary__vote-weight-view__vote-weight--loading {
    height: 1rem;
    width: 30%;
}

.delegatee-summary__proposals-created-view {
    display: flex;
    justify-content: flex-end;
}

.delegatee-summary__proposals-created-view__proposals-created--loading {
    height: 1rem;
    width: 15%;
    left: 85%;
    
}
.page-header__main-section__back::before {
    content: "";
    background-image: url(https://compound.finance/images/icn-arrow-back-white.svg);
    background-size: 75%;
    background-repeat: no-repeat;
}